* { 
    margin : 0;
    padding : 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}
body {
    background-color: #ddd;
}

ul {
    list-style: none;   
    display: block;
    text-align: center;
}

li {
    

    font-size: 40px;
    border: 2px solid black;
    font-family: 'Moon Dance', cursive;
    text-decoration: none;
    

}
ul li button {
    right: 0;
    
 }